@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.font-bebas{
    font-family: 'Bebas Neue', cursive;
}
.header-bg{
    background-color: #FFF9F4;
}
.text-orange{
    color: #FA804C;
}

.primary-text-gray{
    color: #363958;
}
.secondary-text-gray{
    color: #3C3C3C;
}

.btn-nike{
    background: linear-gradient(to bottom,#3D4FF3,#3543BC );
    border: none;
    padding: 18px 33px;
    color: #ffffff;
    text-transform: uppercase;
}
.banner-content h1{
    font-size: 76px;
}